.book-details {
    padding: 20px;
    opacity: 0;
    animation: det 500ms ease-in-out forwards;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .left {
        padding: 40px;
        .cover-container {
            width: 230px;
            display: grid;
            place-content: center;
            .cover {
                width: 180px;
                object-fit: contain;
            }
        }
        .add-to-cart-or-favoris {
            @include flexRowCenter;
            justify-content: space-between;
            margin-top: 40px;
            .like-button {
                & > * {
                    color: #ef7c8e;
                    &:hover {
                        color: #da7080;
                    }
                }
            }
            .spn {
               padding-left: 10px;
            }
            .heart {
                animation: dance 400ms ease-in-out;
            }
        }
    }
    .right {
        flex-grow: 1;
        .rating {
            display: flex;
            align-items: center;
            &.global_read {
                font-size: 0.8rem;
                gap: 5px;
                .stars {
                    font-size: 1rem;
                }
            }
            &.average_read {
                @include flexColumnCenter;
                margin: 20px auto;
                gap: 5px;
                width: fit-content;
                h2 {
                    font-size: 2.2rem;
                }
                p {
                    font-size: 0.9rem;
                    color: rgb(126, 126, 126);
                }
            }
            &.review_read {
                font-size: 0.8rem;
                .stars {
                    font-size: 1rem;
                    margin-right: 5px;
                }
            }
        }
        .author {
            color: rgb(112, 112, 112);
            font-weight: 400;
            font-size: 1rem;
        }
        .other {
            display: flex;
            align-items: center;
            gap: 50px;
            margin-top: 20px;
            .price {
                font-size: 1.6rem;
                color: $boss-color;
                &::before {
                    content: "$";
                    font-size: 1rem;
                    position: relative;
                    top: -0.4rem;
                    margin-right: 5px;
                }
            }
        }
        .tabs {
            margin-top: 70px !important;
            .desc {
                font-size: 0.9rem;
                color: rgb(107, 107, 107);
                .more-btn {
                    font-weight: bold;
                    color: $boss-color;
                }
                .MuiChip-label::first-letter {
                    text-transform: uppercase !important;
                }
            }
            .detail {
                ul {
                    color: rgb(107, 107, 107);
                    list-style-type: none;
                    li {
                        padding: 5px 0px;
                    }
                }
            }
            .reviews {
                @include flexColumn;
                .show-add-review-cont {
                    text-align: center;
                }
                .add-review-section {
                    .studio {
                        flex-grow: 1;
                        .rate {
                            display: flex;
                            justify-content: space-between;
                            padding: 3px 0px;
                            .stars {
                                font-size: 1.2rem;
                            }
                        }
                    }
                    textarea {
                        padding: 0;
                    }
                    .submit-review {
                        display: flex;
                        gap: 10px;
                    }
                }
                .reviews-container {
                    @include flexColumn;
                    margin-top: 50px;
                    gap: 30px;
                    .review {
                        opacity: 0;
                        animation: det 200ms ease-in-out forwards;
                        .review-bar {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 7px;
                            .review-writer {
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                &-pic {
                                    height: 30px;
                                    width: 30px;
                                    &.MuiAvatar-colorDefault {
                                        background-color: #6b5852 !important;
                                    }
                                    &.MuiAvatar-root {
                                        font-size: 1rem !important;
                                    }
                                }
                                &-name {
                                    font-size: 0.9rem;
                                    color: rgb(46, 46, 46);
                                    &:hover {
                                        color: rgb(17, 17, 17);
                                    }
                                }
                            }
                            .cheer-sec {
                                display: flex;
                                align-items: center;
                                font-size: 0.8rem;
                                button {
                                    margin-right: 5px;
                                    display: grid;
                                    place-content: center;
                                    & > * {
                                        font-size: 0.9rem;
                                    }
                                    .border-i {
                                        color: rgb(94, 94, 94);
                                        transition-duration: 200ms;
                                        &:hover {
                                            color: rgba(94, 94, 94, 0.837);
                                        }
                                    }
                                    .fav-i {
                                        color: $boss-color;
                                    }
                                }
                            }
                        }
                        article,
                        .cheer-sec {
                            font-size: 0.9rem;
                        }
                        article {
                            max-width: 100ch;
                            display: block;
                            cursor: pointer;
                            word-wrap: break-word;
                        }
                    }
                }
                .show-more-reviews {
                    text-align: center;
                    button {
                        font-weight: bold;
                        color: rgb(84, 84, 84);
                        transition-duration: 200ms;
                        border-radius: 15px;
                        padding: 5px 10px;
                        &:hover {
                            background-color: rgb(221, 221, 221);
                        }
                    }
                }
            }
        }
        .book-genres {
            margin-top: 20px;
            list-style: none;
            display: flex;
            gap: 5px;
            li {
                font-size: 0.7rem;
                border: 1px solid #6b5852;
                color: #6b5852;
                padding: 3px 10px;
                border-radius: 15px;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .book-details {
        padding: 25px;
        .main-section {
            flex-direction: row;
            align-items: flex-start;
        }
    }
}
