.item {
    @include flexColumn;
    gap: 5px;
    width: 170px;
    cursor: pointer;
    border-radius: 15px;
    padding: 10px;
    transition-duration: 600ms;
    &:hover {
        box-shadow: 0px 2px 10px -4px #00000079;
        background-color: rgb(255, 255, 255);
        transform: translateY(-10px);
    }
    .cover {
        height: 200px;
        position: relative;
        .rating {
            position: absolute;
            @include flexRowCenter;
            right: -10px;
            bottom: 30px;
            gap: 5px;
            background-color: rgb(237, 237, 237);
            border-radius: 15px;
            padding: 4px 7px;
            width: 65px;
            justify-content: center;
            box-shadow: 2px 2px 5px -3px rgb(65, 65, 65);
            .star {
                font-size: 0.9rem;
                color: #8cbbbd;
            }
            span {
                font-size: 0.8rem;
            }
        }
        img {
            width: 150px;
            height: 100%;
        }
    }
    .name {
        color: $headings-color;
        &::first-letter {
            text-transform: uppercase;
        }
        margin-top: 10px;
        font-size: 1rem;
    }
    .name,
    .author {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .author {
        font-weight: 600;
        font-size: 0.9rem;
        color: rgb(172, 172, 172);
    }

    .nums {
        display: flex;
        justify-content: space-between;
        .MuiRating-root {
            font-size: 0.9rem;
        }
        .price {
            color: $headings-color;
            font-size: 1rem;
            &::before {
                content: "$";
                font-size: 0.7rem;
                position: relative;
                top: -0.2rem;
                margin-right: 5px;
            }
        }
    }
}
