.cart-container {
    opacity: 0;
    animation: det 200ms ease-in-out forwards;
    width: 100%;
    .items {
        @include flexColumnCenter;
        gap: 10px;
        padding-bottom: 100px;
        .cart-item {
            @include flexRowCenter;
            width: 95%;
            justify-content: space-between;
            padding: 10px;
            position: relative;
            .remove-item {
                position: absolute;
                left: -15px;
                @include DisplayGridCenter;
                border: 1px solid #9b9b9b;
                border-radius: 50%;
                padding: 2px;
                cursor: pointer;
                opacity: 0;
                transition-duration: 200ms;
                & > * {
                    font-size: 0.8rem;
                    color: #9b9b9b;
                }
            }
            &:hover .remove-item {
                opacity: 1;
            }
            & > div {
                @include flexRowCenter;
                .cover {
                    display: grid;
                    place-content: center;
                    margin-right: 15px;
                    img {
                        width: 70px;
                        object-fit: contain;
                        border-radius: 5px;
                    }
                }
                .detail {
                    @include flexColumn;
                    gap: 10px;
                    cursor: pointer;
                    .price {
                        font-size: 1.3rem;
                        color: $headings-color;
                        &::before {
                            content: "$";
                            font-size: 0.9rem;
                            position: relative;
                            top: -0.2rem;
                            margin-right: 5px;
                        }
                    }
                    .name {
                        font-size: 1.3rem;
                    }
                    .author {
                        color: $author-color;
                        font-weight: 400;
                        font-size: 1rem;
                    }
                }
            }
            .counter {
                @include flexRowCenter;
                gap: 8px;
                button {
                    @include boxSize(25px, 25px, 50%);
                    display: grid;
                    place-content: center;
                    & > * {
                        font-size: 1.1rem;
                    }
                    &:first-of-type {
                        background-color: rgb(209, 209, 209);
                    }
                    &:last-of-type {
                        background-color: $boss-color;
                        color: white;
                        &:disabled {
                            opacity: 0.7;
                        }
                    }
                    transition-duration: 200ms;
                    &:disabled:hover {
                        transform: none;
                    }
                    &:hover {
                        transform: scale(1.06);
                    }
                }
                span {
                    font-weight: bold;
                }
            }
        }
        .check-out-btn {
            background-color: rgb(255, 255, 255);
            padding-bottom: 20px;
            position: fixed;
            bottom: 0;
            .MuiSvgIcon-root {
                font-size: 1.2rem !important;
            }
            h3 {
                font-size: 1.5rem;
                span {
                    color: rgb(174, 174, 174);
                    font-size: 0.9rem;
                }
            }
            .btn-cont {
                gap: 15px;
            }
        }
    }
}
.recieved-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .rc-header {
        text-align: center;
        h1 {
            color: $headings-color;
        }
        h5 {
            font-weight: 400;
            font-size: 1rem;
        }
        h6 {
            font-size: 0.9rem;
        }
    }
    .order-item {
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
        width: 100%;
        .content {
            padding: 30px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .book {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .quantity {
                    @include boxSize(40px, 40px, 50%);
                    color: white;
                    position: absolute;
                    background-color: #2a9d8f;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    top: -15px;
                    left: -15px;
                    .icon {
                        font-size: 1rem;
                    }
                }
                .booky {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    .detail {
                        @include flexColumn;
                        gap: 5px;
                    }
                }
                .price {
                    display: flex;
                    align-items: center;
                    color: rgb(163, 163, 163);
                    span {
                        padding-left: 10px;
                        font-size: 1.2rem;
                        font-weight: bold;
                        color: $color-main-text;
                    }
                }

                img {
                    width: 60px;
                    height: 80px;
                }
            }
        }
        .total {
            padding: 30px;
            text-align: right;
        }
    }
}
.payment {
    width: 100%;
    form {
        @include flexColumn;
        gap: 15px;
        margin: auto;
        box-shadow: 0px 0px 15px -7px black;
        padding: 20px;
        border-radius: 15px;
        .card-element {
            padding: 15px;
            border-radius: 10px;
            box-shadow: 1px 1px 7px -4px rgb(58, 58, 58);
        }
    }
}
@media screen and (min-width: 600px) {
    .cart-container {
        .items {
            .cart-item {
                width: 60%;
            }
        }
    }
    .recieved-order {
        .order-item {
            width: 50%;
        }
    }
    .payment {
        form {
            width: 30%;
        }
    }
}
