.books,
.favoris {
    .genre-head {
        @include flexRowCenter;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        .books-title {
            font-weight: 400;
            color: $headings-color;
        }
        .bar {
            flex-grow: 1;
            height: 1px;
            background-color: #d9e6e5;
            margin-left: 20px;
        }
    }

    margin-bottom: 60px;
    .books-container {
        display: flex;
        gap: 15px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        scroll-behavior: smooth;
        padding: 8px;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
