.contact-us {
    display: flex;
    align-items: center;
    .pic-section {
        display: none;
        flex: 0.7;
        img {
            width: 100%;
            max-height: calc(100vh - 200px);
            border-radius: 0;
            object-fit: contain;
        }
    }
    .form-section {
        flex: 1;
        padding: 10px;
        .info,
        .wave {
            color: #adadad;
        }
        .wave {
            opacity: 0;
            animation: det 500ms ease-in-out forwards;
        }
        .title {
            font-size: 2.2rem;
        }
        form {
            width: 100%;
            margin-top: 30px;
        }
    }
    .thanks {
        h2 {
            color: rgb(172, 172, 172);
        }
    }
}
@media screen and (min-width: 600px) {
    .contact-us {
        .pic-section {
            display: block;
        }
        .form-section {
            flex: 0.3;
            padding: 60px;
        }
    }
}
