.favoris {
    opacity: 0;
    animation: det 500ms ease-in-out forwards;
    h1 {
        text-align: center;
    }
    .books-container {
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }
}
