.favoris {
    opacity: 0;
    animation: det 500ms ease-in-out forwards;
    h1 {
        text-align: center;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 35px;
        padding: 20px;
    }
}
