.home {
    .main-page {
        background-size: 100% 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        .scroll-down {
            position: fixed;
            bottom: 150px;
            left: -100px;
            transform: rotate(-90deg);
            display: flex;
            align-items: center;
            gap: 10px;
            color: $boss-color;
            &::after,
            &::before {
                content: "";
                display: block;
                height: 2px;
                width: 100px;
                background-color: $boss-color;
            }
        }
        .left {
            flex: 0.6;
            h1 {
                font-size: 4rem;
                color: $headings-color;
            }
            h2 {
                color: #1a535c9e;
                font-weight: 400;
            }
            .sign-upbtn {
                margin-top: 40px;
                @include flexRowCenter;
                gap: 0px;
                .hash {
                    border: 1px solid $boss-color;
                    margin-right: -7px;
                    padding: 5px 12px;
                    border-radius: 20px 0px 0px 20px;
                    font-size: 0.9rem;
                    font-weight: 600;
                    color: $boss-color;
                }
                .MuiFab-secondary {
                    background-color: $boss-color;
                    &:hover {
                        background-color: $hover-boss-color;
                    }
                }
                .MuiFab-root {
                    height: 45px;
                    width: 45px;
                    box-shadow: none;
                    .MuiSvgIcon-root {
                        font-size: 1.4rem;
                    }
                }
            }
        }
        .right {
            flex: 0.4;
            display: grid;
            place-content: center;
            .images-container {
                display: flex;
                gap: 20px;
                div {
                    cursor: pointer;
                }
                .big-cover {
                    height: 340px;
                    width: 240px;
                    cursor: pointer;
                }
                .big-cover,
                .small-covers-cont div {
                    opacity: 0.9;
                    transition-duration: 250ms;
                    &:hover {
                        opacity: 1;
                        transform: scale(1.05);
                    }
                }
                .small-covers-cont {
                    display: grid;
                    grid-template-columns: 120px 120px;
                    grid-template-rows: 160px 160px;
                    gap: 0px;
                    place-content: center;
                    opacity: 0;
                    animation: fd 1s ease-in-out forwards;
                    div {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        background-size: 100% 100%;
                        background-position: center;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 600px) {
    .home {
        .main-page {
            height: calc(100vh - 64px);
        }
        &-body {
            padding: 40px;
        }
    }
}
@media screen and (min-width: 600px) {
    .home {
        .main-page {
            height: calc(100vh - 80px);
            flex-direction: row;
            .left,
            .right {
                flex: 0.5;
            }
        }
    }
}
