.home {
    .main-page {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        margin-bottom: 40px;
        .ads {
            width: 0%;
            opacity: 0;
            animation: qut 2s 200ms ease-in-out forwards;
            color: white;
            height: auto;
            border-radius: 5px;
            background-color: $boss-color;
            display: flex;
            align-items: center;
            gap: 30px;
            padding: 10px;
            padding-left: 10px;
            margin-bottom: 30px;
            p {
                font-weight: bold;
                opacity: 0;
                animation: det 500ms 2.2s ease-in-out forwards;
            }
            .portrait {
                height: 60px;
                width: 60px;
                box-shadow: 0px 0px 0px 4px white;
            }
        }
        .scroll-down {
            position: absolute;
            display: none;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            color: $boss-color;
            bottom: 30px;
            right: 0;
            transform: rotate(-90deg);
            font-size: 0.7rem;
            font-weight: bold;
            cursor: pointer;
            & > div {
                @include boxSize(30px, 80px, 15px);
                border: 1px solid $boss-color;
                background-color: $boss-color;
                display: flex;
                padding: 5%;
                & > span {
                    display: block;
                    width: 30px;
                    background-color: white;
                    border-radius: 15px;
                }
            }
        }
        .lr-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;
            gap: 40px;
            flex-wrap: wrap;
            .left {
                flex: 0.6;
                h1 {
                    font-size: 3rem;
                    color: $headings-color;
                    span {
                        border: 2px solid $boss-color;
                        padding: 3px;
                        border-radius: 100%;
                    }
                }

                h2,
                h3 {
                    color: #1a535c9e;
                }
                h2 {
                    margin-top: 30px;
                    font-weight: 400;
                    font-size: 1.2rem;
                }
                display: flex;
                flex-direction: column;
                justify-content: center;

                .explore-btn {
                    margin-top: 20px;
                    @include flexRowCenter;
                    gap: 0px;
                    cursor: pointer;
                    .hash {
                        padding: 5px 12px;
                        font-size: 0.9rem;
                        font-weight: bold;
                        color: $boss-color;
                    }
                    .MuiFab-secondary {
                        background-color: $boss-color;
                        &:hover {
                            background-color: $hover-boss-color;
                        }
                    }
                    .MuiFab-root {
                        height: 45px;
                        width: 45px;
                        box-shadow: none;
                        .MuiSvgIcon-root {
                            font-size: 1.4rem;
                        }
                    }
                }
                .genres {
                    margin-top: 30px;
                    display: flex;
                    gap: 7px;
                    flex-wrap: wrap;
                    .MuiChip-root {
                        font-size: 0.7rem;
                        font-weight: 600;
                    }
                }
                .contact {
                    padding: 15px;
                    border-radius: 5px;
                    font-size: 0.75rem;
                    color: grey;
                    margin: 30px 0px;
                    span {
                        color: $headings-color;
                        transition-duration: 200ms;
                        font-weight: bold;
                        cursor: pointer;
                        &:hover {
                            color: $boss-color;
                        }
                    }
                }
            }
            .right {
                flex: 0.4;
                display: grid;
                place-content: center;
                .images-container {
                    display: flex;
                    gap: 20px;
                    div {
                        cursor: pointer;
                    }
                    .big-cover {
                        height: 340px;
                        width: 240px;
                        cursor: pointer;
                        display: none;
                        border-radius: 20px;
                        box-shadow: 30px -30px 0px 10px white, 30px -30px 0px 12px #c3dad6;
                        transition-duration: 200ms;
                        &:hover {
                            box-shadow: 20px -20px 0px 10px white, 20px -20px 0px 12px #90c0b7;
                            img {
                                transform: scale(1.05);
                            }
                        }
                        img {
                            width: 100%;
                            height: 100%;
                            transition-duration: 250ms;
                        }
                    }
                    .small-covers-cont div {
                        transition-duration: 250ms;
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                    .small-covers-cont {
                        border-radius: 20px;
                        box-shadow: -30px 30px 0px 10px white, -30px 30px 0px 12px #c3dad6;
                        background-color: white;
                        display: grid;
                        grid-template-columns: 120px 120px;
                        grid-template-rows: 160px 160px;
                        gap: 0px;
                        place-content: center;
                        opacity: 0;
                        animation: fd 1s ease-in-out forwards;
                        transition-duration: 1s;
                        &:hover {
                            box-shadow: -20px 20px 0px 10px white, -20px 20px 0px 13px #90c0b7;
                        }
                        div {
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                            background-size: 100% 100%;
                            background-position: center;
                        }
                    }
                }
            }
        }
    }
    &-body {
        .interesting-readers {
            padding: 20px;
            border-radius: 5px;
            h1 {
                margin-bottom: 20px;
                font-size: 1rem;
                color: #a5a5a5;
            }
            .readers-box {
                display: flex;
                flex-wrap: wrap;
                gap: 0px;
                .reader {
                    @include flexRowCenter;
                    gap: 10px;
                    width: 100%;
                    padding: 7px;
                    border-radius: 7px;
                    cursor: pointer;
                    h6 {
                        color: $content-color;
                    }
                    transition-duration: 200ms;
                    &:hover {
                        background-color: rgb(226, 226, 226);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .home {
        .main-page {
            min-height: calc(100vh - 80px);
            margin-bottom: 0px;
            .scroll-down {
                display: flex;
            }
            .ads {
                height: 60px;
                padding-left: 0;
                .portrait {
                    box-shadow: 0px 0px 0px 12px white;
                }
            }
            .lr-container {
                flex-direction: row;
                .left,
                .right {
                    flex: 0.5;
                }
                .right {
                    .images-container {
                        .big-cover {
                            display: initial;
                        }
                    }
                }
                .left {
                    .contact {
                        display: block;
                    }
                }
            }
        }
        &-body {
            padding: 40px;
            .interesting-readers {
                .readers-box {
                    gap: 20px;
                    .reader {
                        width: 210px;
                    }
                }
            }
        }
    }
}
