.search-component {
    .MuiLinearProgress-barColorPrimary {
        background-color: $boss-color;
    }
    .MuiLinearProgress-colorPrimary {
        background-color: #aad8d2;
    }
    display: flex;
    flex-direction: column;
    gap: 20px;
    .search-form {
        @include flexColumn;
        gap: 30px;
        flex-wrap: wrap;
        .MuiSlider-root {
            color: $boss-color;
        }
        .search-input {
            outline: none;
            height: 40px;
            border: 2px solid rgb(206, 206, 206);
            border-radius: 5px;
            padding: 5px;
            transition: 250ms ease-out;
            &:hover {
                border-color: grey;
            }
            &:focus {
                border-color: $boss-color;
            }
        }
    }
    .search-result {
        @include flexColumn;
        .search-result-container {
            @include flexColumn;
            margin-top: 20px;
            .book-item-result {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;
                padding: 20px;
                border-radius: 15px;
                transition-duration: 250ms;
                &:hover {
                    box-shadow: 2px 2px 10px -4px #000000a4;
                    transform: scale(1.01);
                }
                .cover {
                    width: 140px;
                    min-width: 140px;
                    height: 180px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .detail {
                    @include flexColumn;
                    justify-content: space-between;
                    gap: 10px;
                    flex-grow: 1;
                    .top {
                        display: flex;
                        justify-content: space-between;
                        .name {
                            h3 {
                                cursor: pointer;
                                transition-duration: 200ms;
                                &:hover {
                                    color: $headings-color;
                                }
                            }
                            h5 {
                                color: $author-color;
                            }
                        }
                        .price {
                            font-size: 1.3rem;
                            color: $headings-color;
                            &::before {
                                content: "$";
                                font-size: 0.8rem;
                                font-weight: 600;
                            }
                        }
                    }
                    .genres {
                        display: flex;
                        gap: 7px;
                        flex-wrap: wrap;
                        .MuiChip-root {
                            font-size: 0.75rem;
                            font-weight: 600;
                        }
                    }
                    .info {
                        display: flex;
                        gap: 20px;
                        color: $content-color;
                        .rating {
                            @include flexRowCenter;
                            font-size: 0.8rem;
                            font-weight: 600;
                            gap: 5px;
                            .stars {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 600px) {
    .search-component {
        flex-direction: row;
        gap: 60px;
        .search-form {
            min-width: 350px;
            width: 350px;
        }
        .search-result {
            flex-grow: 1;
            height: calc(100vh - 84px);
            overflow-y: scroll;
            scroll-behavior: smooth;
            &::-webkit-scrollbar {
                width: 7px;
                border-radius: 20px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: rgb(94, 94, 94);
                border-radius: 20px;
            }
            .search-result-container {
                padding: 30px;
            }
        }
    }
}
