.search-component {
    .MuiLinearProgress-barColorPrimary {
        background-color: $boss-color;
    }
    .MuiLinearProgress-colorPrimary {
        background-color: #aad8d2;
    }
    display: flex;
    flex-direction: column;
    gap: 20px;
    .search-form {
        @include flexColumn;
        margin-top: 40px;
        gap: 30px;
        flex-wrap: wrap;
        .MuiSlider-root {
            color: $boss-color;
        }
        .search-input {
            outline: none;
            height: 40px;
            border: 2px solid rgb(206, 206, 206);
            border-radius: 5px;
            padding: 5px;
            transition: 250ms ease-out;
            &:hover {
                border-color: grey;
            }
            &:focus {
                border-color: $boss-color;
            }
        }
    }
    .search-result {
        flex-grow: 1;
        .search-result-container {
            @include flexColumn;
            .book-item-result {
                display: flex;
                .cover {
                    width: 160px;
                    height: 200px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 600px) {
    .search-component {
        flex-direction: row;
        gap: 60px;
        .search-form {
            width: 350px;
        }
    }
}
