.sign-up-page,
.sign-in-page {
    height: 100vh;
    display: flex;
    .signing-heading {
        margin-bottom: 20px;
    }

    .signing-side {
        display: none;
        padding: 50px;
        background-color: #d8a7b1;
        position: relative;
        color: #806369;
        h2 {
            font-size: 2rem;
        }
        h4 {
            font-weight: 300;
        }
    }
    .sign-guide {
        color: #999;
        font-size: 0.85rem;
        text-align: center;
        a {
            color: $boss-color;
        }
    }
    .form-error {
        display: flex;
        align-items: center;
        font-size: 0.7rem;
        gap: 5px;
        margin: 3px 0px 0px 0px;
        color: #f44336;
        & > * {
            font-size: 1rem;
        }
    }
}
.sign-in-page {
    .login-error {
        height: 20px;
    }
    .visibility-icon {
        font-size: 1.2rem;
    }
    .fieldset {
        margin: 10px 0px;
        width: 30ch;
    }
    .sign-guide {
        margin-top: 30px;
    }
}


@media screen and (min-width: 600px) {
    .sign-up-page,
    .sign-in-page {
        .signing-side {
            display: flex;
            flex-direction: column;
            flex: .3;
        }
        &-form {
            flex: 0.7;
        }
    }
}
