.sign-up-page,
.sign-in-page {
    height: 100vh;
    display: flex;
    .signing-heading {
        margin-bottom: 20px;
        font-size: 1.5rem;
        color: #839896;
    }

    .signing-side {
        padding: 40px;
        background-color: #ffffff;
        color: #276360;
        overflow: hidden;
        display: none;
        h2 {
            font-size: 2rem;
            &.sgnup {
                font-size: 2.5rem;
            }
        }
        h4 {
            font-weight: 400;
        }
        img {
            border-radius: 0;
            max-width: 100%;
            object-fit: contain;
        }
        p {
            font-size: 0.7rem;
            color: $content-color;
            a {
                color: $headings-color;
                font-weight: bold;
                &:hover {
                    text-decoration: underline !important;
                }
            }
        }
    }
    .sign-guide {
        color: #999;
        font-size: 0.85rem;
        text-align: center;
        a {
            color: $headings-color;
            font-weight: 600;
            opacity: 0.9;
            &:hover {
                opacity: 1;
            }
        }
    }
}
.sign-in-page {
    .login-error {
        height: 20px;
    }
    .visibility-icon {
        font-size: 1.2rem;
    }
    .fieldset {
        margin: 10px 0px;
        width: 30ch;
    }
    .sign-guide {
        margin-top: 30px;
    }
}

@media screen and (min-width: 600px) {
    .sign-up-page,
    .sign-in-page {
        .signing-side {
            @include flexColumn;
            justify-content: space-between;
            flex: 0.4;
        }
        &-form {
            flex: 0.6;
        }
    }
}
